<%# user sign up page %>
<section id="signup">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-6 col-sm-offset-3 text-center signup">
        <h3>Forgot your password?</h3>
          <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, :required => true, :autofocus => true %>
          </div>

          <div class="form-actions">
            <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Reset!">
          </div>
        <% end %> 
      </div><!--End Col 6-->    
    </div><!--End Row-->
  </div><!--End Container-->
</section>