    <section id="page-title" class="section">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3>Browse Videos</h3>
          </div>
        </div>
      </div>
    </section>
  <div class="row-margin-60">
    <ul class="video-tiles">
      <% @videos.each do |video| %>
        <li>
          <%= link_to video_path(video) do %>
            <%= image_tag(video.thumbnail, :size => "220x220", :class => "vid-thumbnail") %>
            <br>
            <!-- <td><%= link_to "#{video.title}", video %></td> -->
          <% end %>
        </li>
      <% end %>
    </ul>
    
  </div>
</div>