<div id="kont">
  <video autoplay muted loop>
    <source src="https://s3.amazonaws.com/vidstock/Film_Strip_Stock_Video-H264_75+(2).mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/vidstock/Film_Strip_Stock_Video-H264_75.ogv" type="video/ogg">
  </video>
  <div id="ent">
    <div class="container">
      <div class="row margin-40">
        <div class="col-sm-12 text-center">
          <div class="headertext">VIDSTOCK</div>
          
          <%= search_form_for @search, url: videos_path, html: {class: "form-inline search-form clearfix"} do |f| %>
            <div class="search-form-input">
              <%= f.text_field :title_cont, placeholder: "Search videos by title or tags.." %>
            </div>

            <div class="search-form-button">
              <%= f.submit class: "btn btn-success btn-block" %>
            </div>
          <% end %>

          <% unless user_signed_in? %>
            <a class="btn btn-warning btn-lg" href="users/sign_in.html">Login</a>
            <a class="btn btn-info btn-signup btn-lg" href="users/sign_up.html">Sign up</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="services" class="section">
  <div class="container">
    <div class="row text-center">
      
      <!--Section 1-->
      <div class="col-sm-4 service margin-30">
        <a href="#">
          <i class="fa fa-download fa-4x light-gray"></i>
          <h3>Easy Downloads</h3>
          <p>Search for videos by tag or look them up by title. Easy and powerful searches to get exactly what you're looking for. Stock footage hunting has never been so easy.</p>
        </a>
      </div>
      
      <!--Section 2-->
      <div class="col-sm-4 service margin-30">
        <a href="#">
          <i class="fa fa-video-camera fa-4x light-gray"></i>
          <h3>Royalty Free Videos</h3>
          <p>Need that aerial shot of NYC? Can't afford to travel there to take that single shot? We got you covered. All videos are royalty free. Use them for personal projects, education, events, and more.</p>
        </a>

      </div>
      
      <!--Section 3-->
      <div class="col-sm-4 service margin-30">
        <a href="#">
          <i class="fa fa-users fa-4x light-gray"></i>
          <h3>Contribute</h3>
          <p>Our footage library is constantly growing. Upload your footage on Vimeo, then give back to the community by sharing your links here.</p>
        </a>
      </div>
  
    </div>
  </div>
</section>
    
    
<!--Message Section-->
<section id="content3" class="section">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-12 text-center">
        <h2 id="quote">"Vidstock allows anyone to get exactly what they want for their own projects. In an age, where everyone is <br>a filmmaker, this is huge."<br> - ScreenThread</h2>
      </div>
    </div>
  </div>  
</section>

<!--Bottom Section-->
<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <p>Vidstock | Stock Footage Exchange  |  <a href="mailto:support@themearmada.com"><i class="icon-envelope-alt"></i> support@vidstock.com</a></p>
        <hr>
      </div>
    </div>
  </div>
</section>